<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.svg" type="image/x-icon">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Karantina:wght@300;400&family=Poppins&family=Sora&family=Space+Mono&display=swap"
        rel="stylesheet">
    <title>Pratik Grv</title>
</head>

<body>
    <section class="home_page">
        <header class="header">
            <div class="heading">
               <a href="/"> Pratik Grv.</a>
            </div>
            <nav class="navigation">
                <div class="about_link">
                    <a href="/about"> About</a>
                </div>
                <div class="dark">
                    <label class="switch">
                        <input type="checkbox" id="dark-mode-toggle">
                        <span class="slider"></span>
                    </label>
                </div>

            </nav>
        </header>
       
        <footer>
            <div class="footer_title">

            </div>
        </footer>
    </section>


<script src="js/script.js"></script>
</body>

</html>