<%- include("partials/header"); -%>
    <section class="home_page">
        <main class="container">
            <div class="title_name">
                Blogs:-
            </div>

            <% posts.forEach(function(post){ %>

                <a href="/posts/<%=post._id%>">
                    <div class="note_items">
                        <%=post.title%>
                    </div>
                </a>

                <% }) %>
        </main>
    </section>
    <script>
        const toggleSwitch = document.querySelector('#dark-mode-toggle');

        toggleSwitch.addEventListener('change', function () {
            if (this.checked) {
                document.body.classList.add('dark-mode');
            } else {
                document.body.classList.remove('dark-mode');
            }
        });

    </script>