<%- include("partials/header"); -%>
    <section class="home_page">

        <div class="post_title">
            <%=title%>
        </div>
        <div class="post_content">
            <%=content%>
        </div>

    </section>

    <%- include("partials/footer"); -%>